/* @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css); */
*:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
}

a {
  text-decoration: none;
}

.social-share-btns-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  font-size: 0;
  top: 50%;
  margin: -30px 0;
  text-align: center;
  width: 100%;
  z-index: 111;
}

.social-share-btns {
  display: inline-block;
  overflow: hidden;
  width: max-content;
}
.social-share-btns .share-btn {
  float: left;
  margin: 10px;
  padding: 8px 20px 8px 16px;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  vertical-align: middle;
  -moz-transition: background 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out;
  -webkit-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.social-share-btns .share-btn i {
  font-size: 18px;
  vertical-align: middle;
}

.share-btn {
  background-color: #95a5a6;
  width: 120px;
  margin: 20px 20px 20px 20px;
}
.share-btn:hover {
  background-color: #798d8f;
}

.share-btn-facebook {
  background-color: #3b5998;
}
.share-btn-facebook:hover {
  background-color: #2d4373;
}

.share-btn-mail {
  background-color: #f1c40f;
}
.share-btn-mail:hover {
  background-color: #dab10d;
}

.share-btn-image {
  vertical-align: bottom;
  margin-right: 7px;
  position: relative;
}

/* socials */
.telegram {
  background-color: #00aced;
}
.telegram:hover {
  background-color: #0087ba;
}
.telegram img {
  top: -1px;
}

.linkedin {
  background-color: #007bb6;
}
.linkedin:hover {
  background-color: #005983;
}
.linkedin img {
  top: -2px;
}

.last-fm {
  background-color: #ED001C;
}
.last-fm:hover {
  background-color: #ba0016;
}

.instagram {
  background-color: #f1b33f;
}
.instagram:hover {
  background-color: #c29033;
}

.github {
  background-color: #414141;
}
.github:hover {
  background-color: #000000;
}

@media only screen and (max-width: 1000px) {
  .social-share-btns-container {
    top: 35%;
  }

  .social-share-btns {
    width: min-content;
  }
}